# **6.1.2 Lab Task (Please implement yourself and show the output to the instructor)**
## • Write a python program to find the sum of odd and even numbers from a set of numbers.
## • Write a python program to find the smallest number from a set of numbers.
## • Write a python program to find the sum of all numbers between 50 and 100, which are divisible by 3 and
## not divisible by 5.
## • Write a python program to find the second highest number from a set of numbers.
## • Write a python program to find the factorial of a number using for loop.
## • Write a python program to generate Fibonacci series.

Task-01 : Write a python program to find the sum of odd and even numbers from a set of numbers

In [1]:
ar = [1,2,3,4,5,6,7,8,9,10]

In [2]:
ar

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
even=0
odd=0
for i in ar:
  if i%2==0:
    even+=i
  else:
    odd+=i

In [7]:
even

30

In [8]:
odd

25

• Write a python program to find the smallest number from a set of numbers.

In [9]:
mini=999999
for i in ar:
  if mini > i:
    mini=i

mini

1

Write a python program to find the sum of all numbers between 50 and 100, which are divisible by 3 and not divisible by 5

In [19]:
sum=0
for i in range(50,101):
  if(i%3==0 and i%5!=0):
    sum+=i

In [20]:
sum

1050

Write a python program to find the second highest number from a set of numbers.

In [23]:
arr =[10,20,30,20,25,50]

In [24]:
arr

[10, 20, 30, 20, 25, 50]

In [27]:
type(arr)

list

In [30]:
arr = list(set(arr))

In [31]:
arr

[10, 50, 20, 25, 30]

In [34]:
arr.sort(reverse=True)

In [35]:
arr

[50, 30, 25, 20, 10]

In [36]:
arr[1]

30

• Write a python program to find the factorial of a number using for loop.

In [40]:
def fact(a):
  mul=1
  for i in range(1,a+1):
    mul*=i

  return mul

In [42]:
fact(6)

720

• Write a python program to generate Fibonacci series.

#**7.2Lab Task (Please implement yourself and show the output to the instructor)**
##• Write a python program to find the largest number between two numbers using function
##• Write a python program to find the sum of the numbers passed as parameters.

In [44]:
def fun(a,b):
  if a>=b:
    return a
  else:
    return b

In [48]:
fun(50,0)

50

In [49]:
#• Write a python program to find the sum of the numbers passed as parameters.

In [50]:
def sum(a,b):
  return a+b

In [51]:
sum(5,8)

13